.item-list {
  padding: 20px;
 
}

.item-container {
  text-align: center;
}

.item-image-container {
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px; /* Increased margin between items */
}

.item-image {
  width: 100%;
  height: auto; /* Ensure images maintain aspect ratio */
  display: block;
}

.item-content {
  text-align: left;
  padding: 10px;
}

.item-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.item-link {
  display: inline-block;
  padding: 5px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.item-link:hover {
  background-color: #0056b3;
}

.next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  color: black;
  font-size: 24px;
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}


.next-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}