.search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Display 4 items in one row */
    gap: 10px; /* Reduce the gap between items */
}

.search-result-item {
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    flex: 1;
}

.s-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-details {
    flex: 2;
    padding: 20px;
}

.product-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.product-brand {
    margin-bottom: 5px;
}

.product-price-details {
    display: flex;
    align-items: center;
}

.product-price {
    margin-bottom: 5px;
}

.product-discounted-price,
.product-discount-percent {
    margin-left: 10px;
    font-size: 0.9em;
}

.opacity-50 {
    opacity: 0.5;
}

.font-semibold {
    font-weight: 600;
}

.text-green-600 {
    color: #10B981;
}
