.search-results {
    margin-top: 16px;
    margin-bottom: 4px;
}

.search-result-item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.product-image {
    flex: 0 0 30%;
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: flex
}

.image-container {
    background-color: #f0f0f0; /* Grey background color */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
    background-position: 10px center; /* Shift background position to the right */
    margin-left: 50px;
}

.image-container .s-image {
    width: auto; /* Allow the image to adjust its width */
    height: auto; /* Allow the image to adjust its height */
    max-width: 120px; /* Increase the maximum width of the image */
    max-height: 120px; /* Increase the maximum height of the image */
    object-fit: contain; /* Ensures the image fits inside the container */
    object-position: top; /* Positions the image at the top */
}

.product-details {
    flex: 1; /* Take up remaining space */
    padding: 10px;
    box-sizing: border-box;
}

.product-title {
    margin-top: 0;
}

.product-brand {
    font-weight: bold;
    opacity: 0.5;
    font-size: 0.8rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.delivery-info {
    font-size: 0.8rem;
    color: #888;
}
